<div class='log_table'>
<%= form_with(model:@post, url:choose_index_or_edit, local:true) do |form| %>
  <% if @post.errors.any? %>
  <div>
    <ul class="error_messages">
      <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="">
    <%= form.text_area :content, placeholder:"今どうしてる？" %>
  </div>
  <div class="align_right">
    <%= form.submit " つぶやく ", class:"submit_btn" %>
  </div>
<% end %>
</div>
