<div class='log_table'>
<%= form_with(model:@post, url:choose_index_or_edit, local:true) do |form| %>
  <div>
    <%= form.text_area :content, placeholder:"今どうしてる？" %>
  </div>
  <div class="align_right">
    <span class="count_letters"></span>
    <%= form.submit " つぶやく ", class:"submit_btn no_click" %>
  </div>
<% end %>
</div>
