<div>
  <% @posts.each do |post| %>
    <div class="log_table">
      <div>
        <p><%= post.content %></p>
      </div>
      <div class="align_right">
        <span class="posted_time"><%= post.created_at.strftime('%Y/%m/%d %H:%M') %></span>
        <span><%= link_to "EDIT", edit_post_path(post.id),class:"small_btn"  %></span>
        <span><%= link_to "DERETE", post_path(post.id), method: :delete, class:"small_btn" %></span>
      </div>
    </div>
  <% end %>
</div>
