<div>
  <div class="">
    <h1>こちらの内容で投稿しますか？</h1>
  </div>
  <div class="confirm_table">
    <%= form_with(model:@post, local:true) do |form| %>
    <div class="">
      <%= form.hidden_field :content %>
      <p><%= @post.content %></p>
    </div>
    <div class="">
      <%= form.submit "投稿する" %>
    </div>
    <% end %>
  </div>
</div>
